option_settings:

- namespace: aws:ec2:vpc
  option_name: VPCId
  value: vpc-0e64a4a6bb30a8299

- namespace: aws:ec2:vpc
  option_name: Subnets
  value: subnet-065432c29fa7d122a

- namespace: aws:ec2:vpc
  option_name: Subnets
  value: subnet-06ceaf2ff5f18bf10

- namespace: aws:ec2:vpc
  option_name: Subnets
  value: subnet-09fa376e2b0bc7f5b

- namespace: aws:ec2:vpc
  option_name: ELBSubnets
  value: subnet-065432c29fa7d122a

- namespace: aws:ec2:vpc
  option_name: ELBSubnets
  value: subnet-06ceaf2ff5f18bf10

- namespace: aws:ec2:vpc
  option_name: ELBSubnets
  value: subnet-09fa376e2b0bc7f5b
